.custom-navbar {
  background: linear-gradient(90deg, #ffffff, #ffffff);
  padding: 12px 0;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Logo */
.logo {
  height: 40px;
  margin-right: 8px;
}

.brand-text {
  color: rgb(4, 177, 62);
  font-weight: 700;
  font-size: 30px;
}

/* Links */
.nav-link {
  color: rgb(55, 133, 3) !important;
  margin: 0 10px;
  font-weight: 700 !important;
  font-size: 17px !important;
  position: relative;
  transition: 0.3s;
}

.nav-link:hover {
  color: #06b39b !important;
}

/* Underline animation */
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
  margin: auto;
}

.nav-link:hover::after {
  width: 100%;
}

/* Button */
.contact-btn {
  margin-left: 15px;
  background: white;
  color: #1fa2c9;
  font-weight: 600;
  border-radius: 25px;
  padding: 8px 18px;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #0f172a;
  color: white;
}

/* Mobile */
.navbar-toggler {
  border: none;
  color: white;
  font-size: 22px;
}